<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
        <div class="post round">
        <h3>Add new post.</h3>
        <%= render 'shared/post_form' %>
        </div>
      <%= render 'follow_form' if signed_in? %>
      <% unless @user.posts.empty? %>
        <table class="posts" summary="User posts">
          <%= render @posts %>
        </table>
        <%= will_paginate @posts %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= link_to @user.name, @user %><br />
      <strong>Posts</strong> <%= @user.posts.count %></br>
	  <%= render 'shared/stats' %>
    </td>
  </tr>
</table>